# ignore everything in the "vendor" directory, except:
# "composer", "autoload.php"
vendor/*
!vendor/composer/
!vendor/autoload.php

# ignore node dependency directories
node_modules/

# ignore dev files and dir
.DS_Store
phpcs.xml
phpunit.xml
wp-cli.local.yml

# ignore additional files
*.sql
*.sqlite
*.tar.gz
*.zip
*.log
